.div{
    padding-top: 300px;
    padding-bottom: 10px;
    display: flex;
    height: 200px;

    justify-content:space-between;
    border-bottom: 1px white solid;
}
.h1{
    font-size: 300%;
    margin-left: 30px;
    color: white;
    align-self: center;
     text-shadow: 2px 2px 4px rgba(0,0,0,0.7); 
}
.icon{
    height: 100%;
    object-fit: contain;
    margin-right: 50px;
    border-radius: 40px;
}
.tags{
    margin-left: 30px;
    display: flex;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7); 
}
@media(max-width:765px){
 .div{
    padding-top: 60px;
    flex-direction: row-reverse;
 }   
 .div div{
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
 }
 .h1{
    text-align: center;
    font-size: 200%;
    margin: 0;
 }
 .tags{
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: 5px;
    gap: 5px;
 }
 .icon{
    width: 40%;
    margin-left: 20px;
    margin-right: 0;
 }
}
.mainPart{
    background-color: #0e0e0e;
}
.screenshots{
    
    display: flex;
    scroll-behavior: smooth;
    overflow-x: auto;
    gap: 10px;
    align-items: center;
    padding-top: 25px;
    margin-bottom: 50px;
    width: 90%;
    justify-self: center;
    height: 300px;
    
}
.screenshot:hover{
    cursor: zoom-in;
}
.screenshots::-webkit-scrollbar {
  height: 10px;

}
.screenshots::-webkit-scrollbar-track {
  background: transparent;
}
.screenshots::-webkit-scrollbar-thumb {
  background-color: #444; 
  border-radius: 6px;
}
.screenshot{
    height: 200px;
    border-radius: 15px;
}

.article{
    border-top: 1px solid white;
    padding-bottom: 100px;
    background: black;
}
.desc{
    margin-top: 100px;
    text-align: center;
    color: white;
}
.p{
    width: 90%;
    margin-top: 50px;
    justify-self: center;
    text-align: center;
   color: white;
}
.buttons{
    background-color: #000000;
    border-bottom: solid 1px white;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons button{
    margin: 10px;
}
.border{
    width: 100%;
    height: 20px;
    background-color: black;
}
.video{
     position: fixed;
    z-index: -1;
    width: 100%;
}