.button{
    padding: 15px 30px 15px 30px;
    text-transform: uppercase;
    border-radius: 20px;  
    transition: all ease 0.3s;

    background-color: var(--bg-color);
    color: var(--text-color);
    border: var(--border);
}
.button:hover{
    cursor: pointer;
    transform: translateY(-3px);

    background-color: var(--bg-hover);
    color: var(--text-hover);
}
.button:active{
    background-color: var(--bg-active);
    color: var(--text-active);
}