.main{
   padding-top: 60px;
   
img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}
.div{
   background-color: rgb(238, 220, 197);
   margin-top: 200px;
   padding-bottom: 200px;
   width: 90%;
   border-top-left-radius: 50px;
   border-top-right-radius: 50px;
   justify-self: center;
}
}